ion-header {
  --ion-background-color: color-mix(
    in oklab,
    var(--color-base-100) /* var(--color-base-100) */ 80%,
    transparent
  );
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ion-header.no-transparent {
  --ion-background-color: transparent;
}

ion-button {
  width: 42px !important;
  height: 42px !important;
}

ion-button::part(native) {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
}

.header-md {
  box-shadow: none;
}

ion-header ion-toolbar {
  --background: color-mix(
    in oklab,
    var(--color-base-100) /* var(--color-base-100) */ 80%,
    transparent
  );
}
